<div class="row">
  <div class="col-md-6 col-sm-8 col-xs-12 col-centered">
    <div class="x_panel tile">
      <div class="x_title">
        <h2>Log out</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <p style="text-align: center">We hope to see you soon!</p>
        <p style="text-align: center;">
          <button type="submit" class="btn btn-dark" style="text-align: center;">Log Out</button>
        </p>
        <br>
        <div id="vaca_img" class="text-center">
          <%= image_tag "vaca.jpg" %>
        </div>
      </div>
    </div>
  </div>
</div>