<h2>Create account</h2>
<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Personal Information</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br>
        <form class="form-horizontal form-label-left input_mask">
          <label class="control-label col-md-4 col-sm-2 col-xs-12">Last Name</label>
          <div class="col-md-6 col-sm-10 col-xs-12 form-general">
            <input class="form-control" id="user_last_name" required="required" type="text">
          </div>

          <label class="control-label col-md-4 col-sm-2 col-xs-12">First Name</label>
          <div class="col-md-6 col-sm-10 col-xs-12 form-general">
            <input class="form-control" id="user_first_name" required="required" type="text"></input>
          </div>

          <label class="control-label col-md-4 col-sm-2 col-xs-12">Pseudo</label>
          <div class="col-md-6 col-sm-10 col-xs-12 form-general">
            <input class="form-control" id="user_pseudo" required="required" type="text"></input>
          </div>

          <label class="control-label col-md-4 col-sm-2 col-xs-12">e-mail</label>
          <div class="col-md-6 col-sm-10 col-xs-12 form-general">
            <input class="form-control" id="user_email" required="required" type="text"></input>
          </div>

          <label class="control-label col-md-4 col-sm-2 col-xs-12">Password</label>
          <div class="col-md-6 col-sm-10 col-xs-12 form-general">
            <input class="form-control" id="user_password" required="required" type="password"></input>
          </div>

          <label class="control-label col-md-4 col-sm-2 col-xs-12">Confirm Password</label>
          <div class="col-md-6 col-sm-10 col-xs-12 form-general">
            <input class="form-control" id="user_confirmed_password" required="required" type="password"></input>
          </div>
        </form>

        <div class="x_title" style="margin-top: 20px;">
          <h2>Bank Account</h2>
          <div class="clearfix"></div>
        </div>
        <p>You have to fill in this part is you want to create a project.</p>
        <form class="form-horizontal form-label-left input_mask">
          <label class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px; margin-bottom: 0px;">Bank Account</label>
          <div class="col-md-6 col-sm-6 col-xs-12 form-general">
            <input class="form-control" id="bank_name" placeholder="Bank" type="text">
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 form-general">
            <input class="form-control" id="bank_account_owner" placeholder="Owner's First and Last Name" type="text">
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 form-general">
            <input class="form-control" id="bank_account_number" placeholder="Account Number" type="text">
          </div>
        </form>

        <div class="ln_solid"></div>
        <div class="form-group">
          <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
            <button type="submit" class="btn btn-success">Create Account</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>