<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Rejection Message</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <p>Your message will be sent to the creator to explain him why the project's application has been rejected.</p>
        <div class="ln_solid"></div>
        <div class="col-md-10 col-sm-10 col-xs-12 form-general">
          <%= form_tag url: {controller: 'projects', action: 'refuse_project'}, method: :post do %>
            <div class="form-group">
              <div class="control-label col-md-2 col-sm-2 col-xs-12">Message</div>
                <%= text_area_tag :message, '', class:"form-control", required:"required", id: 'message-text-area',
                                placeholder:"Explain why the proposition has been rejected.", type:"text"  %>
                <%= hidden_field_tag :id, @project.id %>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                <%= submit_tag 'Send message and confirme refuse', class:"btn btn-success"%>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>