<h2>Project Dashboard</h2>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel tile">
      <div class="x_title">
        <h2>Overview</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <p>You can find here the status of your project. If it is in validation process, please wait until an administrator accepts your proposition.</p>
        <br>
        <p>Status: <b>Validated</b></p>
        <p>Collected: <b>XX%</b></p>
        <p>Contributors: <b>x</b></p>
        <p>Days lefts: <b>X</b></p>
        <p>Comments: <b>X</b></p>
        <p>News: <b>X</b></p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="x_panel tile">
      <div class="x_title">
        <h2>Description</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <p>Visualize the project: see how your project appears to the other users.</p>
        <button type="submit" class="btn btn-default">Modify Description</button>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="x_panel tile">
      <div class="x_title">
        <h2>News</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <p>You don't have any news on this project.</p>
        <button type="submit" class="btn btn-default">Add news</button>
      </div>
    </div>
  </div>
</div>